@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: background-color: red;;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}
